body {
    background-color: #F5F5F5;
    font-family: 'Chivo', sans-serif;
}

h1 {
    text-align: center;
    font-size: 36px;
    color: #56606d;
    font-weight: 700;
}

.wrapper {
    margin: 50px auto;
}